<style>
  *{ margin:0; padding:0; box-sizing: border-box; } h1{ font-size:40px;
  font-family: Arial, Helvetica, sans-serif; } .main{ height:100%; display:
  flex; } .main >div{ flex:1; align-self: stretch; background-color: #201335; }
  .main .content{ align-self: stretch; flex:4; display: flex; justify-content:
  center; background:none; }
</style>

<div class='main'>
  <div></div>
  <div class='content'>
    <h1>Bem vindo {{name}}!!</h1>
  </div>
  <div></div>
</div>